.navbar {
  margin-top: 0;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 3px 15px 0 rgb(81, 83, 83);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 2.4em;
  background: #000000;
  color: white;
  text-align: center;
}

.footer > p > a {
  color: #dac3c3;
  text-decoration: underline;
}

.footer > p > a:visited {
  color: #dac3c3;
  text-decoration: underline;
}

.footer > p {
  font-size: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-weight: normal;
}

h1 {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: normal;
}

p {
  margin: auto;
  margin-top: 2em;
  text-align: center;
  font-size: 1.8em;
}

#reset {
  background-color: #000000;
  border: 1px solid;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  border-radius: 4px;;
  box-shadow: 1px 3px 4px 1px #666;
  cursor: pointer;
}

#hidden {
  display: none;
}

.btn-container {
  margin: auto;
  margin-top: 3em;
  max-width: 70%;
  text-align: center;
}

#superbtn {
  background-image: url('./btn.png');
  width: 15em;
  height: 15em;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  color: #ffe6e6;
  text-align: center;
  border: 0.6em solid;
  border-color: black;
  border-radius: 50%;
  box-shadow: 2px 5px 17px 3px #999, 0px 1px 12px 3px #bb8b8b inset;

  transition-duration: 0.45s;
  
  user-select: none;
  -moz-user-focus: none;
  -webkit-user-select: none;
  cursor: pointer;
}

#superbtn:active {
  color: #ecd9d9;
  font-size: 1.49em;
  border: 0.61em solid;
  border-color: black;
  box-shadow: 0 1px 10px 3px #666,  1px 2px 15px 3px #312222 inset;
  transform: translateY(1px);
}

#superbtn:focus {
  outline: 0;
}

#superbtn:disabled {
  background-image: none;
  background-color: grey;
  color: white;
  box-shadow: 0 1px 10px 3px #666;
}

@media screen and (max-width: 650px) {
  #superbtn {
      width: 12em;
      height: 12em;
  }

  h1 {
     font-size: 1.5em;
  }

  p {
     font-size: 1.3em;
  }
}

@media screen and (max-width: 490px) {
  #superbtn {
      width: 10em;
      height: 10em;
  }

  h1 {
     font-size: 1.2em;
  }

  p {
     font-size: 1em;
  }
}

@media screen and (max-width: 390px) {
  #superbtn {
      width: 9em;
      height: 9em;
      font-size: 1.5em;
      font-weight: normal;
  }

  h1 {
     font-size: 1em;
  }
}

@media screen and (max-width: 300px) {
  #superbtn {
      width: 8em;
      height: 8em;
      font-size: 1.3em;
      font-weight: normal;
  }
}